@model List<Blog.Dados.Models.TblCategoria>

    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
    }


    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                @{
                    foreach (var Categoria in Model)
                    {
                        <li>
                            <a href = "/Categoria/@Categoria.Nome"> @Categoria.Nome </a>

                         </li>
                    }
                }
            </ul>
        </div>
     </div>
