<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">
                Administração do Blog C#
            </h1>

        </div>
    </div>
</div>