@model Blog.Dados.Models.TblCategoria

<div class="container">
        <div class="row">
        <div class="col-md-12 order-md-1">
            <form id="frmPagina" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="Nome">Nome</label>
                        <input type="text" class="form-control" id="Nome" placeholder="" value="@Model.Nome" maxlength="50" required>
                        <div class="invalid-feedback">
                            O campo Nome é obrigatório.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="button" id="btnSalvar">Salvar</button>
                <hr class="mb-4">
            </form>
        </div>
    </div>
</div>