@model Blog.Dados.Models.TblCategoria


<div class="container">

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form id="frmPagina1" was-validated>
                <div class="form-group input-group">
                    <input type="text" class="form-control " id="Nome" name="Nome" placeholder="" value="@Model.Nome" maxlength="50">
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="btnSalvar">Salvar</button>
                <hr class="mb-4">
            </form>
        </div>
    </div>
    </form>

</div>